In [ ]:
import pymongo 
from pymongo import MongoClient
import pandas as pd
import json

client = MongoClient("mongodb://Lori:Les4783!@ds223756.mlab.com:23756/heroku_r58qkhd7")

db = client["heroku_r58qkhd7"]
collection = db["hood_profiles_json"]

In [8]:
# df = pd.read_json("museums.json")
# df.head()

df = pd.read_json("hoods.json")
df.head()

,Rank#,Name,Walk Score,Transit Score,Bike Score,Population
0,1,French Quarter,98,77,96,3692
1,2,Central Business District,94,81,87,2288
10,11,West Riverside,86,46,77,4766
11,12,Uptown,86,54,77,5955
12,13,East Carrollton,86,54,81,4342

In [23]:
df.to_csv('hoods.csv')

In [31]:

df["Name"] = df["Name"].str.replace(".","")

df1 = df.set_index('Name')

In [11]:
df.to_json("hoods.json", orient="split")
# collection.insert(file_data)

In [27]:
df1.to_json("hoods.json")

In [12]:
with open("hoods.json") as f:
    file_data = json.load(f)
    collection.insert(file_data)

C:\Users\lorie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
with open("hoods.csv") as f:
    file_data = json.load(f)
#     print(file_data)
df = pd.read_json('hoods.json')
df.keys()
hoods =

Index(['French Quarter', 'Central Business District', 'West Riverside',
       'Uptown', 'East Carrollton', 'Central City', 'Bywater', 'Milan',
       'Treme - Lafitte', 'City Park', 'Leonidas', 'Mid-City', 'Marigny',
       'Bayou St John', 'St Claude', 'Tulane - Gravier', 'Audubon',
       'Black Pearl', 'Seventh Ward', 'Freret', 'Marleyville - Fontainbleau',
       'Algiers Point', 'Gert Town', 'Touro', 'Fairgrounds', 'St Roch',
       'Broadmoor', 'Whitney', 'B W Cooper', 'Lakeview', 'McDonough',
       'Holy Cross', 'West End', 'Behrman', 'Iberville', 'Holly Grove',
       'Navarre', 'Gentilly Terrace', 'Dillard', 'U S Naval Base',
       'Lower Ninth Ward', 'Read Boulevard West', 'Gentilly Woods', 'Dixon',
       'Fischer Development Neighborhood', 'Lower Garden District',
       'St Anthony', 'Milneburg', 'St Bernard Area', 'Old Aurora',
       'West Lake Forest', 'Fillmore', 'Desire Area', 'Florida Area',
       'Plum Orchard', 'Pines Village', 'East Riverside',
       'Lake Terrace - Oaks', 'Lake Shore - Lake Vista',
       'Tall Timbers - Brechtel', 'Little Woods', 'Viavant - Venetian Isles',
       'Desire Development Neighborhood', 'Lakewood', 'Village De L'Est',
       'Read Boulevard East', 'Ponchartrain Park', 'Garden District',
       'New Aurora', 'Lake Catherine', 'English Turn', 'Irish Channel',
       'St Thomas Development Neighborhood'],
      dtype='object')

In [13]:

df = pd.read_json('neighbourhoods.json')
df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...